nav
{
   height: 60px;
  width: 100%;
  background: #4299a5;
}
nav ul
{
  float:right;
  margin-right: 50px;
}
nav ul li
{
  display: inline;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
}
nav ul li a
{
  color: aliceblue;
  font-size: 20px;
  font-weight: 600;
}
li a:hover
{
  color:black;
}
@media print 
{
  nav
  {
    display: none;
  }
}
